.OneBeer img {
    height: 400px;
    width: 200px;
}

.headerDiv {
    display: flex;
    justify-content: space-around;
}

.attenuation {
    color: grey;
}

.secondName {
    display: flex;
    justify-content: space-around;
}

.taglineDiv {
    color: grey;
    font-size: 1.5em;
}

.brewedDiv {
    font-size: 1.5em;
}